* {
    margin: 0;
}

.windows {
    display: flex;
    height: 100dvh;
    background-image: url("asset/bg.avif");
    background-size: cover;
}

.card {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 350px;
    height: 450px;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 25px;
}

h1 {
    /* margin: 15px; */
    font-size: 25px;
    font-family: 'Panchang', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    width: 250px;
    font-weight: 400;
    font-family: 'Panchang', sans-serif;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 400;
    margin: 5px;
    color: rgba(0,0,0,0.5);
}

form input:hover {
    box-shadow:0 0 4px rgba(0, 22, 220, 0.301);
}

input[type=text] {
    padding: 10px;
}

input[type=password] {
    padding: 10px;
}

.remember {
    display: flex;
}
.remember p {
    /* margin:15px; */
    font-family: 'Panchang', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0 0 0 10px;
}

.card a {
    font-family: 'Panchang', sans-serif;
    text-decoration: none;
    /* margin:15px; */

}

a.button{
    width: 260px;
    font-weight: 400;
    font-family: 'Panchang', sans-serif;
    height: 25px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
    /* margin: 10px; */
    padding: 15px;
    color: black;
}

button:hover {
    box-shadow:0 0 4px rgba(0, 22, 220, 0.301);
}


